{% extends 'base.html' %} {% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1">Home</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate, quia
      similique veritatis minima sit consectetur modi dolores quisquam delectus
      dolore, porro nulla temporibus eos suscipit at rerum odio officiis
      sapiente? Laborum quis voluptatum eligendi repellendus debitis repudiandae
      deserunt illo consectetur ullam? Dolores temporibus molestiae veritatis,
      ad ipsa mollitia commodi asperiores. Adipisci distinctio nam
      necessitatibus atque labore numquam aperiam, placeat illo. Dolores a amet,
      veritatis exercitationem, sapiente cumque assumenda ad qui dicta ut
      incidunt aperiam corrupti distinctio voluptatum pariatur perspiciatis?
      Earum ad eius magnam repudiandae voluptatum quam quia molestiae, quod
      aspernatur! Fugiat, nostrum obcaecati. In doloremque cumque,
      exercitationem voluptates blanditiis dolore incidunt praesentium enim
      tempora quibusdam recusandae ipsum repellendus perspiciatis illum, aliquid
      alias vero. Repudiandae eaque magni dolorum molestias veniam cumque.
      Doloremque nesciunt blanditiis quos accusamus, enim culpa quo pariatur
      quam, sunt at, corrupti molestiae numquam repellendus. Blanditiis libero
      accusamus, voluptatem beatae hic, voluptas culpa distinctio repudiandae
      cum perferendis id saepe. Consectetur id cum vero voluptatibus quod
      adipisci laboriosam aspernatur, commodi iure qui natus, dolorum suscipit
      quas quidem impedit modi quaerat labore aliquid architecto, esse provident
      illum? Ab libero rerum harum. At neque aut dolore repellat, reprehenderit
      quo culpa impedit iste ullam eaque exercitationem. Commodi, nam. Eveniet
      quia hic expedita repellendus recusandae optio, at adipisci alias sequi
      non architecto repellat pariatur. Neque dolor ullam accusantium labore
      pariatur esse placeat aut dicta facilis, ipsa possimus animi quidem illo
      vel nobis nisi aliquam non rem sit veniam, fuga nihil quasi similique ut?
      Eius?
    </p>

   <div class="text-center">
    <a class="btn btn-dark" href="{% url 'signin' %}"> signin</a>
    <a class="btn btn-dark" href="{% url 'signup' %}"> singnup</a>
   </div>
  </section>
</main>
{% endblock %}
